
.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
webpack.config.js
tsconfig.json
debug_svg.ts
debug_svg.js
debug_svg.js.map
**/*.map
**/*.ts
node_modules/**
media/node_modules/**
media/src/**
media/tsconfig.json
media/package.json
media/package-lock.json
